<div class="bg-black text-light p-4 mt-5">
    <div class="container w-100 css-footer">
        <div class="d-flex">
            <div class="d-flex flex-column my-3 mx-5">
                <a class="text-decoration-none text-light py-1" href="../index.php"><b>Winzelle</b></a>
                <a class="text-decoration-none text-light py-1" href="../index.php#about">About</a>
                <a class="text-decoration-none text-light py-1" href="../index.php#shop">Shop</a>
                <a class="text-decoration-none text-light py-1" href="contact.php">Contact</a>
            </div>
            <div class="my-3 mx-5">
                <b>Follow Us</b>
                <div class="py-1">
                    <a class="text-decoration-none text-light pe-1 fs-4" target="_blank" href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a class="text-decoration-none text-light pe-1 fs-4" target="_blank" href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a class="text-decoration-none text-light pe-1 fs-4" target="_blank" href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a class="text-decoration-none text-light pe-1 fs-4" target="_blank" href="https://www.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="my-3">
            <b class="">Download Application</b>
            <a href="https://www.apple.com/id/app-store/" target="_blank" class="d-flex text-decoration-none text-light py-1 pt-2">
                <div class="fs-4 pe-2"><ion-icon name="logo-apple"></ion-icon></div>
                <div class="text-center">App Store</div>
            </a>
            <a href="https://play.google.com/store" target="_blank" class="d-flex text-decoration-none text-light">
                <div class="fs-4 pe-2"><ion-icon name="logo-google-playstore"></ion-icon></ion-icon></div>
                <div class="text-center">Google Play</div>
            </a>
        </div>
    </div>
</div>